* {
	padding:0;
	margin:0;
}

body {
	width: 100%;
	height: 100%;
	font-family:Verdana;
	background: #B2B2B2;
}



#wrapper {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFFFFF;
}

#login {
	border:0px;
}

#loginForm {
	border:0px;
	padding:20px;
}

#loginTable {
	border:0px;
}

/* HEADER */
header {
	border:0px;
	width:100%;
	background-color: #E6E6E6;
}

#logout {
	text-align: right;
}

/* NAVI */
nav {
	border:0;
	width:20%;
	float:left;
	background-color: white;
	margin: 5px 0px;
}


nav ul li{
	list-style-type: none;
	border: 1px solid gray;
	margin:1px;
	padding:1px;
	height:25px;
	width:50%;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	
	background: -webkit-linear-gradient(white 0%, #E7F2FC 100%); 
	background: -moz-linear-gradient(white 0%, #E7F2FC 100%); 
	background: -o-linear-gradient(white 0%, #E7F2FC 100%); 
	background: linear-gradient(white 0%, #E7F2FC 100%);
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
		font-weight: bold;
}

nav ul li:hover{
	list-style-type: none;
	border: 1px solid gray;
	font-weight: bold;
	background: -webkit-linear-gradient(white 0%, #7FFFAA 100%); 
	background: -moz-linear-gradient(white 0%, #7FFFAA 100%); 
	background: -o-linear-gradient(white 0%, #7FFFAA 100%); 
	background: linear-gradient(white 0%, #7FFFAA 100%);
}

nav ul li a{
	text-decoration: none;
    color:#3870A7;
    font-size:0.55em;
}


/* CONTENT */
#content {
	border:0px;
	width:79%;
	float:right;
	background-color: #FFFFFF;
	padding:5px;
}

/* FOOTER */
footer {
	clear:both;
	border:0px;
	background-color: #E6E6E6;
}

/* 
 LOGIN 
div#centerhelper {
	width:1px;
	height:50%;
	margin-bottom:-150px;  Hälfte der Container-Höhe 
	float:left;
}






*/