* {
	padding:0;
	margin:0;
}

body, html {
	color: #000;
	background: white;
	font-family: Verdana;
	font-size: 10pt;
}
.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

/* LOGIN */
div#centerhelper {
	width:1px;
	height:50%;
	margin-bottom:-150px; /* Hälfte der Container-Höhe */
	float:left;
}

#login {
	border:1px solid red;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px; /* Hälfte der Breite nach links */
	margin-top: -100px; /* Hälfte der Höhe nach oben */
}

#loginForm {
	border:0px solid blue;
	padding:20px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	background: #FFF;
	border: 0px solid green;
}

/* HEADER */
header {
	border: 1px solid red;
	background: #E6E6E6;
	height: 110px;
	position: relative;
	margin: 10px 0;
	padding: 5px;
}
header #moduleLogo {
	border: 0px solid yellow;
	width: 425px;
	float: left;
	height: 110px;
}
header #fosyLogo {
	border: 0px solid blue;
	height: 110px;
	text-align: right;
}
header #fosyLogo #logo {
	border: 0px solid green;
	padding: 10px 10px 0 0;
}
header #fosyLogo #logoutForm {
	border: 0px dotted fuchsia;
	position: absolute;
	right: 0;
	bottom: 5px;
	margin-right: 10px;
}

/* NAVI */
nav {
	float: left;
	width: 210px;
	background: #FFFFFF;
	margin-bottom: 10px;
	padding-left: 0px;
}
nav h3 {
	border: 0px solid red;
}
nav ul {
	border: 0px solid red;
	list-style: none outside none;
	width: 200px;	
}
nav ul li {
	list-style: none outside none;
	font-weight: bold;
	padding-bottom: 2px;
}
nav ul li a:link, nav ul li a:visited {
	display: block;
	text-align: left;
}
nav ul li a {
	text-decoration: none;
}

/* CONTENT */
#content {
	border:0px solid blue;
	float: right;
	width: 790px;
	min-height: 150px;
	background: #FFFFFF;
	margin-bottom: 10px;
}

/* FOOTER */
footer {
	border:0px solid magenta;
	height: 30px;
}

/* Forms */
#ui-datepicker-div {
	font-size: 8pt;
}
input.ui-widget {
	font-size: 9pt;
}
fieldset legend {
	border: 0px solid red;
	margin-left: 5px;
}
fieldset div {
	border: 0px solid red;
	margin: 5px;
}
fieldset div label {
	display: block;
	float: left;
	width: 150px;
	border: 0px solid blue;
}

/* tables */
#resultDiv table {
/*	border: 1px solid red;*/
}
#resultDiv table tr.cell1 {
	border: 1px solid #c5dbec;
	background: #dfeffc;
	color: #2e6e9e;
}
#resultDiv table tr td, #resultDiv table tr th {
	padding: 5px;
}
#resultDiv table tr td.right {
	text-align: right;
}
#resultDiv table tr td.center {
	text-align: center;
}

/* dashboard */
fieldset#fieldsetOffer {
	width: 300px;
	float:left;
	margin-right: 10px;
}
fieldset#fieldsetOrder {
	width:300px;
	
}
fieldset#fieldsetRelation {
	width:610px;
}

/* flexible reports */
#flexZeit {
	width:300px;
	float:left;
}